<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="false" name="NopCommerce UI - Automation Testing">
    <test name="Run on Firefox browser">
        <classes>
            <class name="com.nopcommerce.users.Lever_05_Page_Factory" />
        </classes>
    </test>
</suite>